@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-color: #f0f4f6;
    width: 100vw;
    height: 100vh;

    & nav{
        width: 100%;
        height: 9vh;
        background: #131463;
        // border-bottom: 1px solid black;
        box-sizing: border-box;
    }


    & .content{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: space-between;

        
        & .sidebar{
            width: 25%;
            height: 91vh;
            background: #505188;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            & .tabContainer{
                width: 100%;
                & .sidebarItem{
                    width: 100%;
                    height: 7vh;
                    padding-left: 5%;
                    margin-top: 1px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    background: #1f3d65;
                    cursor: pointer;
    
                    & h2{
                        font-weight: 400;
                        font-size: 1vw;
                        color: rgb(175, 175, 175);
                    }
    
                }
    
                & .sidebarItem:hover{
                    background: rgb(12, 12, 68);
                }
    
                & .logout{
                    width: 60%;
                    height: 5vh;
                    
                    
                    position: relative;
                    left: 20%;
                }
    
                & .active{
                    background: rgb(7, 7, 43);
                }
            }

            & .userDetails{
                height: 8vh;
                display: grid;
                place-items: center;
                color: rgb(218, 218, 218);
                font-weight: 400;
                font-size: 1.2vw;

                & h3{
                    font-weight: 400;
                    font-size: 1.2vw;
                }

                & h4{
                    font-weight: 400;
                    font-size: 1vw;
                }
            }
        }
    }

}


button{
    cursor: pointer;
}

.orderForm{
   
    width: 30%;
    // height: 70%;
    position: absolute;
    top: 0;
    left: 44%;
    top: 20%;
    background: #948ec1;
    padding: 1%;

    & .title{
        width: 100%;
        font-weight: 400;
        font-size: 1.25vw;
        text-align: center;
        margin-bottom: 10%;
    }

    & .inputs{

        & .input{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5%;

            & .name{
                font-weight: 400;
                font-size: 1.25vw;
            
            }
        }

        & .buttons{
        
            width: 100%;
            display: flex;
            justify-content: space-around;
        }


    }
}


// Report 
.report {
    width: 595px;
    height: 842px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Arial, sans-serif';
    position: absolute;
    z-index: -1;
    left: -1000%;
    color: #333;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
  
    h1 {
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px;
      color: #007BFF;
    }

    .reportHead{
        margin-bottom:40px ;
        width: 593px;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
  
      th, td {
        border: 1px solid #ddd;
        padding: 6px;
        text-align: left;
        font-size: 10px; // Adjusting font size for table contents
      }
  
      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }
  
      tr {
        &:nth-child(even) {
          background-color: #f9f9f9;
        }
  
        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }

// Common

  